*   @rubenhoenle @marceljk @PhilippSeitz

languages/golang/blocklist.txt   @stackitcloud/developer-tools
languages/java/blocklist.txt     @stackitcloud/developer-tools
languages/python/blocklist.txt   @stackitcloud/developer-tools
