[tool.poetry]
name = "{{{pythonPackageName}}}"
version = "{{{packageVersion}}}"
authors = [
    "{{infoName}}{{^infoName}}OpenAPI Generator Community{{/infoName}} <{{infoEmail}}{{^infoEmail}}team@openapitools.org{{/infoEmail}}>",
]
description = "{{{appName}}}"
#readme = "README.md"
#license = "{{{licenseInfo}}}{{^licenseInfo}}NoLicense{{/licenseInfo}}"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
packages = [
  { include = "stackit", from="src" }
]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
stackit-core = "^0.0.1"
requests = "^2.32.3"
pydantic = "^2.9.2"
python-dateutil = "^2.9.0.post0"

[tool.poetry.group.dev.dependencies]
black = "24.8.0"
pytest = "^8.3.3"
flake8 = "^5.0.3"
flake8-black = "^0.3.6"
flake8-pyproject = "^1.2.3"
autoimport = "^1.6.1"
flake8-eol = "^0.0.8"
flake8-eradicate = "^1.5.0"
flake8-bandit = "^4.1.1"
flake8-bugbear = "^23.1.14"
flake8-quotes = "^3.4.0"
isort = "^5.13.2"

[project.urls]
Homepage = "https://github.com/{{{gitUserId}}}/{{{gitRepoId}}}"
Issues = "https://github.com/{{{gitUserId}}}/{{{gitRepoId}}}/issues"

[build-system]
requires = ["setuptools", "poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
pythonpath = [
    "src"
]
testpaths = [
    "tests"
]

[tool.black]
line-length = 120
exclude = """
/(
     .eggs
    | .git
    | .hg
    | .mypy_cache
    | .nox
    | .pants.d
    | .tox
    | .venv
    | _build
    | buck-out
    | build
    | dist
    | node_modules
    | venv
)/
"""

[tool.isort]
profile = 'black'

[tool.flake8]
exclude= [".eggs", ".git", ".hg", ".mypy_cache", ".tox", ".venv", ".devcontainer", "venv", "_build", "buck-out", "build", "dist"]
statistics = true
show-source = false
max-line-length = 120
# E203,W503 and E704 are incompatible with the formatter black
# W291 needs to be disabled because some doc-strings get generated with trailing whitespace but black won't re-format comments
ignore = ["E203", "W503", "E704", "W291"]
inline-quotes = '"'
docstring-quotes = '"""'
multiline-quotes = '"""'
ban-relative-imports = true
per-file-ignores = """
    # asserts are fine in tests, tests shouldn't be build optimized
  ./tests/*: S101,
    # F841: some variables get generated but may not be used, depending on the api-spec
    # E501: long descriptions/string values might lead to lines that are too long    
  ./src/stackit/*/models/*: F841,E501
    # F841: some variables get generated but may not be used, depending on the api-spec
    # E501: long descriptions/string values might lead to lines that are too long
    # B028: stacklevel for deprecation warning is irrelevant
  ./src/stackit/*/api/default_api.py: F841,B028,E501
"""