# {{{projectName}}}
{{#appDescriptionWithNewLines}}
{{{.}}}
{{/appDescriptionWithNewLines}}

{{#infoUrl}}
For more information, please visit [{{{infoUrl}}}]({{{infoUrl}}})
{{/infoUrl}}

This package is part of the STACKIT Python SDK. For additional information please visit the [github repository](https://{{gitHost}}/{{{gitUserId}}}/{{{gitRepoId}}}) of the SDK.


## Installation & Usage
### pip install

```sh
pip install {{{pythonPackageName}}}
```

Then import the package:
```python
import {{{packageName}}}
```

## Getting Started

[Examples](https://{{gitHost}}/{{{gitUserId}}}/{{{gitRepoId}}}/tree/main/examples) for the usage of the package can be found in the [GitHub repository](https://{{gitHost}}/{{{gitUserId}}}/{{{gitRepoId}}}) of the SDK.