{{#models}}

{{>partial_header}}
package {{packageName}}

import (
	"testing"
{{#imports}}
	"{{import}}"
{{/imports}}
)

{{#model}}
{{^isEnum}}
{{#oneOf}}
{{#-first}}{{>custom/model_oneof_test}}{{/-first}}
{{/oneOf}}
{{^oneOf}}{{^anyOf}}
{{>custom/model_simple_test}}
{{/anyOf}}{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
