{{#isContainer}}{{#isMap}}{"map":{{#items}}{{> custom/helper/array_json_example_value}}{{^isArray}}{{#isString}}"example"{{/isString}}{{/isArray}}{{/items}}}{{/isMap}}{{^isMap}}{{> custom/helper/array_json_example_value}}{{/isMap}}{{/isContainer}}