{{! This template was ENTIRELY overwritten to support the custom configuration type and options from the STACKIT SDK core module. See https://github.com/OpenAPITools/openapi-generator/blob/v7.20.0/modules/openapi-generator/src/main/resources/go/configuration.mustache for the original template }}
{{>partial_header}}
package {{packageName}}

import (
	"github.com/stackitcloud/stackit-sdk-go/core/config"
)
{{! TEMPLATE CUSTOMIZATION - Template was entirely customized, see above. }}

// NewConfiguration returns a new Configuration object
func NewConfiguration() *config.Configuration {
	cfg := &config.Configuration{
		DefaultHeader:    make(map[string]string),
		UserAgent:        "{{{httpUserAgent}}}{{^httpUserAgent}}OpenAPI-Generator/{{{packageVersion}}}/go{{/httpUserAgent}}",
		Debug:            false,
		{{#servers}}
		{{#-first}}
		Servers:          config.ServerConfigurations{
		{{/-first}}
			{
				URL: "{{{url}}}",
				Description: "{{{description}}}{{^description}}No description provided{{/description}}",
				{{#variables}}
				{{#-first}}
				Variables: map[string]config.ServerVariable{
				{{/-first}}
					"{{{name}}}": {
						Description: "{{{description}}}{{^description}}No description provided{{/description}}",
						DefaultValue: "{{{defaultValue}}}",
						{{#enumValues}}
						{{#-first}}
						EnumValues: []string{
						{{/-first}}
							"{{{.}}}",
						{{#-last}}
						},
						{{/-last}}
						{{/enumValues}}
					},
				{{#-last}}
				},
				{{/-last}}
				{{/variables}}
			},
		{{#-last}}
		},
		{{/-last}}
		{{/servers}}
		{{#apiInfo}}
		OperationServers: map[string]config.ServerConfigurations{
		{{#apis}}
		{{#operations}}
		{{#operation}}
		{{#servers}}
		{{#-first}}
			"{{{classname}}}Service.{{{nickname}}}": {
		{{/-first}}
				{
					URL: "{{{url}}}",
					Description: "{{{description}}}{{^description}}No description provided{{/description}}",
					{{#variables}}
					{{#-first}}
					Variables: map[string]config.ServerVariable{
					{{/-first}}
						"{{{name}}}": config.ServerVariable{
							Description: "{{{description}}}{{^description}}No description provided{{/description}}",
							DefaultValue: "{{{defaultValue}}}",
							{{#enumValues}}
							{{#-first}}
							EnumValues: []string{
							{{/-first}}
								"{{{.}}}",
							{{#-last}}
							},
							{{/-last}}
							{{/enumValues}}
						},
					{{#-last}}
					},
					{{/-last}}
					{{/variables}}
				},
		{{#-last}}
			},
		{{/-last}}
		{{/servers}}
		{{/operation}}
		{{/operations}}
		{{/apis}}
		},
		{{/apiInfo}}
	}
	return cfg
}
