package {{invokerPackage}}.api;

import cloud.stackit.sdk.core.config.CoreConfiguration;
import java.io.IOException;

public class {{serviceName}}Api extends DefaultApi {
    public {{serviceName}}Api() throws IOException {
        super();
    }

    public {{serviceName}}Api(CoreConfiguration configuration)
            throws IOException {
        super(configuration);
    }
} 