{{>partial_header}}
// Deprecated: Will be removed after 2026-09-30. Move to the packages generated for each available API version instead
package {{packageName}}

{{#models}}
import (
	"encoding/json"
{{#imports}}
	"{{import}}"
{{/imports}}
)

{{#model}}
{{#isEnum}}
{{>model_enum}}
{{/isEnum}}
{{^isEnum}}
{{#oneOf}}{{#-first}}{{>model_oneof}}{{/-first}}{{/oneOf}}{{^oneOf}}{{#anyOf}}{{#-first}}{{>model_anyof}}{{/-first}}{{/anyOf}}{{^anyOf}}{{>model_simple}}{{/anyOf}}{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
