{{>partial_header}}
package {{packageName}}

{{#models}}
import (
	"testing"
{{#imports}}
	"{{import}}"
{{/imports}}
)

{{#model}}
{{^isEnum}}
{{#oneOf}}{{#-first}}{{/-first}}{{/oneOf}}{{^oneOf}}{{#anyOf}}{{#-first}}{{/-first}}{{/anyOf}}{{^anyOf}}{{>model_simple_test}}{{/anyOf}}{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
