// {{classname}} {{{description}}}{{^description}}struct for {{{classname}}}{{/description}}
type {{classname}} struct {
{{#parent}}
{{^isMap}}
{{^isArray}}
	{{{parent}}}
{{/isArray}}
{{/isMap}}
{{#isArray}}
	Items {{{parent}}}
{{/isArray}}
{{/parent}}
{{#vars}}
{{^-first}}
{{/-first}}
{{!Skip support for nullable fields}}
{{^isNullable}} 
{{#description}}
	// {{#deprecated}} Deprecated: {{/deprecated}}{{{.}}}
{{/description}}
{{^description}}
{{#deprecated}}
	// Deprecated: Check the GitHub changelog for alternatives
{{/deprecated}}
{{/description}}
{{#isShort}}
	// Can be cast to int32 without loss of precision.
{{/isShort}}
{{#isFloat}}
	// Can be cast to float32 without loss of precision.
{{/isFloat}}
{{#required}}
{{^isReadOnly}}
{{^isWriteOnly}}
    // REQUIRED
{{/isWriteOnly}}
{{/isReadOnly}}
{{/required}}
	{{name}} *{{#isNumber}}float64{{/isNumber}}{{#isFloat}}float64{{/isFloat}}{{#isDouble}}float64{{/isDouble}}{{#isInteger}}int64{{/isInteger}}{{#isLong}}int64{{/isLong}}{{^isNumeric}}{{{dataType}}}{{/isNumeric}} `json:"{{baseName}}{{#required}}{{#isReadOnly}},omitempty{{/isReadOnly}}{{/required}}{{#required}}{{#isWriteOnly}},omitempty{{/isWriteOnly}}{{/required}}{{^required}},omitempty{{/required}}"{{#withXml}} xml:"{{baseName}}{{#isXmlAttribute}},attr{{/isXmlAttribute}}"{{/withXml}}{{#vendorExtensions.x-go-custom-tag}} {{{.}}}{{/vendorExtensions.x-go-custom-tag}}`
{{#isAdditionalPropertiesTrue}}
	AdditionalProperties map[string]interface{}
{{/isAdditionalPropertiesTrue}}
{{/isNullable}}
{{/vars}}
}