name: Update SDK repo

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  GO_VERSION: '1.20'
  JAVA_VERSION: '11'

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ vars.SSH_KNOWN_HOSTS }}
      - name: Install Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        uses: ./.github/actions/build
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Download OAS
        run: make download-oas
      - name: Generate SDK
        run: make generate-sdk
      - name: Push SDK
        env: 
          GH_REPO: 'stackitcloud/stackit-sdk-go'
          GH_TOKEN: ${{ secrets.PAT }}
        run: |
          scripts/sdk-create-pr.sh "generator-bot-${{ github.run_id }}" "Generate services" "Generator: update SDK /services" "Generated from GitHub run ${{ github.run_id }} (${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"